
.testa{
    font-family: 'Alkatra', cursive;
    text-align:center;
    margin: 0 auto;
    }
.simply{
    background-color: #f0df7c33;
    border-top: 1px solid #f98f2c;
    padding: 10px 0;
}
h1{
    text-indent: 30px;
    text-align:center;
}
.scatola{
    width: 0 auto;
    position:absolute;
    top: 50px;
    margin:0 auto;
    text-align:center
}
section{
    font-family: 'Roboto', sans-serif;
}
.centrato{
    width: 500px;
    margin:0 auto;
    max-width: 100%;
}
p a{
    color:rgb(0, 191, 255);
}
#intestazione{
    color:orange;
    border-left: solid rgba(234, 142, 36, 0.806);
    margin: 4px;
}
h2, ol{
    border-bottom: 1px solid blue;
    padding-bottom: 15px;
}
.centratura{
    text-align:center;
}
img, video{
    max-width: 100%;
}
