
.testa{
    font-family: 'Alkatra', cursive;
    text-align:center;
    margin: 0 auto;
    }
#intestazione{
    background-color: #f5e27533;
    border-top: 1px solid #ef9746;
    padding: 10px 0;
}
h1{
    text-indent: 30px;
    text-align:center;
}
.scatola{
    width: 0 auto;
    position:absolute;
    top: 50px;
    margin:0 auto;
    text-align:center
}
section{
    font-family: 'Roboto', sans-serif;
}
.maincontent{
    width: 500px;
    margin:0 auto;
    max-width: 100%;
}
.ft{
    color:rgb(222, 182, 108);
    border-left: solid rgba(36, 43, 234, 0.806);
    margin: 4px;
}
h2{
    border-bottom: 1px solid blue;
    padding-bottom: 15px;
}
.titoli{
    text-align:center;
}
img, video{
    max-width: 100%;
}
.link{
    color:rgb(121, 13, 126);
}
